@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    user-select: none
}

body,
html {
    width: 100%;
    height: 100%
}

.content {
    width: 1210px;
    margin: auto
}

.clearfix:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow: hidden
}

.fix_ul {
    position: fixed;
    width: 60px;
    right: 1%;
    top: 50%
}

.fix_ul li {
    width: 60px;
    height: 60px;
    margin-bottom: 2px
}

.fix_ul li .close_top {
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    font-size: 12px;
    line-height: 60px;
    text-align: center;
    color: #fff;
    font-weight: 700;
    transition: background .3s ease
}

.fix_ul li .close_top:hover {
    background: #000
}

.fix_ul .saoma {
    width: 100%;
    height: 100%;
    position: relative
}

.fix_ul .saoma:hover .hide {
    display: block
}

.fix_ul .saoma img {
    display: block
}

.fix_ul .saoma .hide {
    width: 185px;
    height: 200px;
    border: 1px solid #ccc;
    position: absolute;
    left: -325%;
    top: 0;
    display: none
}

.fix_ul .saoma .hide img {
    margin: auto;
    padding-top: 17.5px
}

.fix_ul .car_shop {
    width: 60px;
    height: 75px;
    background: #ececec;
    position: relative;
    cursor: pointer
}

.fix_ul .car_shop:hover em {
    background: #e4393c;
    color: #fff
}

.fix_ul .car_shop em {
    content: "0";
    display: block;
    width: 18px;
    height: 18px;
    border: 1px solid #e4393c;
    background: #ececec;
    font-size: 12px;
    color: #e4393c;
    line-height: 18px;
    text-align: center;
    border-radius: 10px;
    position: absolute;
    right: 15%;
    top: 8%;
    font-style: normal
}

.fix_ul .car_shop i {
    display: block;
    width: 34px;
    height: 30px;
    margin: auto;
    text-align: center;
    line-height: 30px;
    font-size: 30px;
    padding-top: 15px;
    color: #888
}

.fix_ul .car_shop span {
    font-size: 12px;
    text-align: center;
    display: block;
    width: 100%;
    margin-top: 16px;
    cursor: pointer;
    color: #888
}

.top_head {
    height: 36px;
    width: 100%;
    background: #f5f5f5
}

.top_login {
    width: 404px;
    height: 100%;
    float: left
}

.top_login span {
    line-height: 36px;
    color: #000;
    font-size: 12px;
    margin-right: 28px
}

.top_login a {
    display: inline-block;
    height: 100%;
    margin-right: 24px;
    color: #000;
    font-size: 12px;
    line-height: 36px
}

.top_nav {
    height: 100%;
    float: right
}

.top_nav li {
    float: left;
    height: 100%;
    line-height: 36px;
    font-size: 12px;
    position: relative;
    border-left: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5
}

.top_nav li a {
    display: block;
    height: 100%;
    color: #000
}

.top_nav li i {
    position: absolute;
    top: 1%;
    left: 73%
}

.top_nav li:nth-child(4) i {
    position: absolute;
    top: 1%;
    left: -1%
}

.top_nav li:nth-child(5) i {
    position: absolute;
    top: 1%;
    left: 10%
}

.top_nav li:nth-child(6) i {
    position: absolute;
    top: 1%;
    left: 10%
}

.top_nav2 {
    width: 104%;
    position: absolute;
    top: 98%;
    left: -2%;
    z-index: 99;
    background: #fff;
    border: 1px solid #ccc;
    border-top: none;
    display: none
}

.top_nav2 li {
    width: 100%;
    padding: 0 4px;
    height: 24px;
    text-align: center;
    line-height: 24px
}

.top_nav>li:hover {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background: #fff
}

.top_nav>li:hover .top_nav2 {
    display: block
}

.top_nav2 li:hover {
    color: #00f
}

.list {
    width: 968px;
    height: 228px;
    padding: 22px 16px;
    background: #fff;
    position: absolute;
    right: -2%;
    top: 100%;
    border: 1px solid #ccc;
    border-top: none;
    display: none;
    z-index: 99
}

.daohang {
    position: relative
}

.daohang:hover .list {
    display: block
}

.list dl {
    float: left
}

.list dl dt {
    font-size: 18px;
    color: #00f
}

.list dl span {
    display: inline-block;
    width: 48px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    margin-right: 16px
}

.list .zixun {
    width: 40%;
    border-right: 1px solid #ccc
}

.list .pindao {
    width: 25%;
    border-right: 1px solid #ccc;
    padding: 0 16px
}

.list .fuwu {
    width: 17.5%;
    border-right: 1px solid #ccc;
    padding: 0 16px
}

.list .shangcheng {
    padding: 0 16px;
    width: 17.5%
}

.list dl span:hover {
    background: #1c95d2;
    color: #fff
}

.top_search {
    height: 128px;
    padding: 8px 0 24px 0;
    position: relative
}

.top_search .logo {
    float: left;
    margin-left: 40px
}

.top_search .search {
    float: left;
    position: relative;
    margin-right: 104px
}

.top_search .search input {
    width: 414px;
    height: 40px;
    margin-top: 32px;
    border: 2px solid #00f;
    text-indent: 10px;
    font-size: 16px
}

.top_search .search .search_sou {
    width: 99px;
    height: 40px;
    display: block;
    background: #00f;
    text-align: center;
    line-height: 40px;
    color: #fff;
    position: absolute;
    right: -23.5%;
    top: 44%
}

.top_search .search ul {
    position: absolute;
    bottom: -24%
}

.top_search .search ul li {
    float: left;
    font-size: 12px;
    line-height: 12px;
    padding: 0 10px;
    cursor: pointer
}

.top_search .wuliu {
    float: left;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center
}

.top_search .wuliu a {
    display: inline-block;
    width: 108px;
    height: 32px;
    border: 1px solid #ccc;
    margin-right: 16px;
    margin-top: 28px;
    text-align: center;
    line-height: 32px;
    font-size: 12px;
    color: #888
}

.top_search .wuliu a i {
    margin-right: 8px;
    color: #00f
}

.top_search .erweima {
    float: left;
    margin-left: 40px
}

.top_search .erweima img {
    display: block
}

.top_list {
    width: 100%;
    background: #1369c0;
    position: relative
}

.top_list .more {
    height: 40px;
    width: 200px;
    background: #0f54b3;
    font-size: 14px;
    text-align: center;
    color: #fff;
    line-height: 40px;
    float: left
}

.top_list .more:hover {
    background: #4593fd
}

.top_list .list_nav {
    float: left;
    margin-left: 5px
}

.top_list .list_nav li {
    float: left;
    padding: 0 18px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-weight: 700;
    font-size: 14px
}

.top_list .list_nav li:hover {
    background: #0f54b3;
    cursor: pointer
}

.top_list img {
    position: absolute;
    right: 18%;
    top: 0;
    display: block
}

.banner_nav {
    float: left;
    width: 200px;
    background: #fff;
    position: relative;
    left: 0;
    top: 3%;
    display: none;
    z-index: 99;
    border-bottom: 2px solid #4593fd
}

.banner_nav li {
    padding-left: 20px;
    height: 36px;
    width: 100%;
    border-right: 2px solid #4593fd;
    border-left: 2px solid #4593fd;
    line-height: 36px;
    z-index: 9999999
}

.banner_nav li a {
    display: inline-block;
    height: 100%;
    width: 64px;
    color: #1c95d2;
    font-size: 14px;
    margin-right: 16px;
    transition: transform .3s ease-in
}

.banner_nav li>span {
    font-size: 12px;
    width: 60px;
    text-align: right;
    display: inline-block;
    line-height: 28.4px;
    color: #000;
    transition: transform .3s ease-in
}

.banner_nav li:hover .banner_more {
    display: block
}

.banner_nav>li:hover {
    border-top: 1px solid #1c95d2;
    border-bottom: 1px solid #1c95d2;
    border-right: none
}

.banner_nav>li:hover a {
    color: #000;
    transform: translateX(10px)
}

.banner_nav>li:hover>span {
    color: #000;
    transform: translateX(8px)
}

.banner_more {
    background: #fff;
    width: 432px;
    position: absolute;
    top: 0;
    right: -216%;
    padding: 30px;
    display: none;
    z-index: 9999999;
    border-right: 1px solid #1c95d2;
    border-bottom: 1px solid #1c95d2
}

.banner_more div {
    border-bottom: 1px dashed #ccc
}

.banner_more div h3 {
    font-size: 15px;
    margin-top: 24px;
    color: #000
}

.banner_more div>span {
    display: inline-block;
    padding: 0 12px;
    line-height: 20px;
    font-size: 12px;
    color: #000
}

.banner_more div span:hover {
    color: #284193;
    cursor: pointer
}

.banner_more div img {
    margin-top: 24px;
    display: block
}

.main {
    width: 100%;
    margin-top: 20px
}

.main .main_left {
    width: 178px;
    float: left
}

.list_dt {
    background: #333;
    color: #fff;
    width: 100%;
    padding: 0 40px 0 20px;
    height: 34px;
    line-height: 34px;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    border-bottom: 1px solid #464646;
    font-size: 12px
}

.list_dt:hover {
    background: #222
}

.list_dt:hover ._after {
    display: block;
    width: 3px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #4285f4
}

#open {
    background: #222
}

#open ._after {
    display: block;
    width: 3px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #4285f4
}

.list_dt_icon {
    position: absolute;
    right: 10px;
    top: 11px;
    display: block;
    width: 12px;
    height: 12px;
    background: url(../img/off.png) no-repeat;
    background-size: cover
}

#open .list_dt_icon {
    background: url(../img/open.png) no-repeat;
    background-size: cover
}

.list_dd {
    display: none
}

.list_li {
    background: #4e4e4e;
    list-style-type: none;
    color: #fff;
    width: 100%;
    padding: 0 30px;
    height: 34px;
    line-height: 34px;
    cursor: pointer;
    border-bottom: 1px solid #6b6b6b;
    font-size: 12px
}

.list_li:hover {
    background: #4285f4
}

.footprint {
    width: 178px;
    border: 1px solid #ddd;
    margin-bottom: 18px;
    font-family: "microsoft yahei";
    padding-bottom: 10px;
    margin-top: 20px
}

.footprint h3 {
    font-size: 14px;
    height: 38px;
    line-height: 38px;
    background: #e8e8e8;
    text-indent: 16px;
    margin-bottom: 10px
}

.foot_ul {
    width: 100%
}

.foot_ul li {
    width: 100%;
    border-bottom: 1px dashed #ccc;
    cursor: pointer;
    overflow: hidden
}

.foot_ul li div {
    width: 150px;
    margin: auto;
    text-align: center;
    overflow: hidden;
    margin-top: 10px
}

.foot_ul li:hover img {
    transform: scale(1.1)
}

.foot_ul li img {
    width: 150px;
    height: 150px;
    transition: transform .3s ease
}

.foot_ul li dt {
    font-size: 12px;
    width: 100%;
    height: 20px;
    padding: 0 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #000;
    text-align: center
}

.foot_ul li dd {
    font-size: 12px;
    color: red;
    text-align: center;
    padding-bottom: 10px
}

.hotShop {
    width: 178px;
    border: 1px solid #ddd;
    margin-bottom: 18px;
    font-family: "microsoft yahei";
    padding-bottom: 10px;
    margin-top: 20px
}

.hotShop h3 {
    font-size: 14px;
    height: 38px;
    line-height: 38px;
    background: #e8e8e8;
    text-indent: 16px;
    margin-bottom: 10px
}

.hot_ul {
    width: 100%
}

.hot_ul li {
    width: 100%;
    border-bottom: 1px dashed #ddd
}

.hot_ul li img {
    width: 150px;
    height: 150px;
    margin-left: 7%
}

.hot_ul li dt {
    font-size: 12px;
    color: #000;
    text-align: center;
    width: 100px;
    margin: auto;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}

.hot_ul li dd {
    font-size: 12px;
    color: red;
    text-align: center;
    padding-bottom: 10px
}

.main_right {
    width: 1018px;
    float: right
}

.main_search {
    width: 100%;
    background: #f1f1f1;
    height: 32px;
    line-height: 28px;
    cursor: pointer
}

.search_list {
    float: left;
    margin-right: 20%
}

.search_list li {
    float: left;
    font-size: 12px;
    border: 1px solid #ddd;
    line-height: 30px;
    text-align: center;
    padding: 0 10px
}

.main_search span {
    font-size: 12px;
    vertical-align: middle
}

.main_search input {
    width: 100px;
    height: 20px
}

.main_search #letter {
    margin: 0 2px;
    vertical-align: middle
}

.main_search #more {
    vertical-align: middle
}

.main_search #btns {
    width: 30px;
    height: 20px;
    margin-left: -5px;
    vertical-align: middle;
    font-size: 12px
}

#strong {
    font-size: 12px;
    line-height: 30px;
    float: right;
    margin-right: 10%;
    color: #e4393c
}

.list_more {
    width: 100%
}

.list_more li {
    float: left;
    width: 246px;
    height: 380px;
    margin: 4px;
    border: 1px solid #fff;
    transition: border .2s ease
}

.list_more li:hover {
    border: 1px solid #ccc
}

.list_more li img {
    width: 200px;
    height: 200px;
    margin: 30px 22px 0;
    cursor: pointer
}

.list_more li span {
    font-size: 18px;
    color: red;
    margin-left: 22px;
    margin-top: 10px
}

.list_more li s {
    font-size: 16px;
    color: #ccc;
    text-decoration: line-through;
    margin: 0 10px
}

.list_more li dl{
    margin-top: 10px;
}

.list_more li dd {
    font-size: 12px;
    margin: 10px 22px;
    height: 64px
}

.list_more li a {
    display: block;
    width: 95px;
    height: 26px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 26px;
    background: #e4393c;
    margin-left: 22px
}

#page {
    width: 100%
}

#page li {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    line-height: 30px;
    color: #ccc;
    text-align: center;
    font-size: 12px;
    float: left;
    margin: 10px;
    cursor: pointer
}

#page .active {
    color: #000;
    border-color: #fff
}

.foot {
    width: 100%;
    border-top: 2px solid #0691f9;
    background: #f4f4f4
}

.foot_box {
    padding-top: 26px;
    width: 100%
}

.foot_boxleft {
    height: 273px;
    width: calc(100% - 670px);
    float: left;
    display: flex;
    justify-items: center;
    justify-content: space-around
}

.foot_boxleft dl dt {
    color: #3c3c3c;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 8px;
    height: 23px;
    line-height: 23px
}

.foot_boxleft dl dd {
    line-height: 28px;
    height: 28px;
    font-size: 12px
}

.service {
    height: 178px;
    float: left
}

.service h3 {
    width: 100%;
    height: 30px;
    font-size: 24px;
    line-height: 30px
}

.service p:nth-child(2n) {
    font-size: 16px;
    font-weight: 700;
    height: 30px;
    line-height: 30px;
    color: #0691f9
}

.service p:nth-child(2n+1) {
    font-size: 14px;
    height: 25px;
    line-height: 25px;
    color: #666
}

.service a {
    display: block;
    width: 110px;
    padding-left: 40px;
    line-height: 26px;
    height: 26px;
    font-size: 14px;
    margin-top: 5px;
    text-align: center;
    line-height: 26px;
    color: #51a6ee;
    background-image: url(../img/jk2016.png);
    background-position: 0 -58px
}

.cellphone_platform {
    height: 100%;
    float: left;
    margin-left: 50px
}

.cellphone_platform li {
    width: 102px;
    height: 30px;
    font-size: 12px;
    line-height: 30px
}

.cellphone_platform li:nth-child(1) {
    font-size: 16px;
    font-weight: 700;
    line-height: 17px
}

.cellphone_platform li em {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../img/jk2016.png);
    background-position: 0 0;
    vertical-align: middle
}

.cellphone_platform li:nth-child(1) em {
    background-image: none
}

.cellphone_platform li:nth-child(3) em {
    background-position: -32px 0
}

.cellphone_platform li:nth-child(5) em {
    background-position: -66px 0
}

.cellphone_platform li:nth-child(6) em {
    background-position: -100px 0
}

.cellphone_platform li:nth-child(7) em {
    background-position: 0 -29px
}

.cellphone_platform li span {
    vertical-align: middle
}

.attention {
    height: 100%;
    margin-left: 50px;
    float: left
}

.attention li {
    width: 102px;
    height: 30px;
    font-size: 12px;
    line-height: 30px
}

.attention li:nth-child(1) {
    font-size: 16px;
    font-weight: 700;
    line-height: 17px
}

.attention li em {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../img/jk2016.png);
    background-position: -32px -29px;
    vertical-align: middle
}

.attention li:nth-child(1) em {
    background-image: none
}

.attention li:nth-child(3) em {
    background-position: -66px -29px
}

.last {
    width: 100%;
    background: #fff
}

.last_box {
    width: 100%;
    text-align: center;
    padding: 18px 0 0
}

.last_box p {
    height: 28px;
    line-height: 28px;
    text-align: center;
    font-size: 12px
}

.last_box p a {
    color: #000;
    padding: 0 5px
}

.last_box p a:nth-child(2) {
    border-left: 1px solid #000;
    border-right: 1px solid #000
}

.brand {
    width: 520px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px
}

.brand li {
    width: 120px;
    height: 50px;
    float: left;
    border: 1px solid #888;
    margin-right: 10px;
    background-image: url(../img/footer.jpg);
    background-position: 0 0
}

.brand li:nth-child(2) {
    background-position: 120px 0
}

.brand li:nth-child(3) {
    background-position: 240px 0
}

.brand li:nth-child(4) {
    background-position: 360px 0
}