@charset "utf-8";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
    text-decoration: none;
    list-style: none;
}

html,
body {
    line-height: 1;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

:focus {
    outline: 0;
}

form * {
    vertical-align: middle;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a,
area {
    outline: none;
    color: inherit;
}

img {
    vertical-align: middle;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover,
a:active {
    color: #c40000;
    text-decoration: underline;
}

.cl {
    height: 10px;
    line-height: 1px;
    clear: both;
    font-size: 0;
}

.j11308_font02 {
    font-size: 14px;
}

body {
    font: 12px/24px "Arial", Helvetica, sans-serif;
    color: #333;
}

#j11308_wrapper,
.j11308_width_1000 {
    width: 1200px;
    margin: 0 auto;
}

.tgys p,
.slide-top .prev,
.slide-top .next,
.left-slide .prev,
.left-slide .next,
.xlqg .xl-main .li_box em,
.sidelist-x-li .slid-height,
.sidelist-x-li .slid-height02,
.sidelist-x-li .slid-height s,
.sidelist-x-li .slid-height02 s {
    background: url(https://img.j1.com/images/images1308/ico/slidelf.png) 0 0 no-repeat;
}

.lay965 {
    width: 965px;
}

.lay225 {
    width: 225px;
}

.j1banner {
    margin-top: 10px;
    width: 1200px;
    margin: 10px auto 0;
}

.slide-ba {
    margin-left: 215px;
    margin-bottom: 10px;
    position: relative;
    width: 750px;
}

.slide-top {
    width: 750px;
    height: 270px;
    overflow: hidden;
    position: relative;
    z-index: 4;
}

.slide-top .hd {
    height: 22px;
    overflow: hidden;
    position: absolute;
    right: 20px;
    bottom: 10px;
    z-index: 1;
}

.slide-top .hd ul {
    overflow: hidden;
    zoom: 1;
    float: left;
}

.slide-top .hd ul li {
    float: left;
    margin-right: 5px;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    background: #939393;
    cursor: pointer;
    border-radius: 50%;
    color: #fff;
    font: 400 14px/22px "Arial";
    opacity: .8;
    filter: alpha(opacity=80);
}

.slide-top .hd ul li.on_hover {
    background: #e4393c;
    color: #fff;
    opacity: 1;
    filter: alpha(opacity=100);
}

.slide-top .bd {
    position: relative;
    height: 100%;
    z-index: 0;
}

.slide-top .bd img {
    width: 750px;
    height: 270px;
}

.slide-top .prev,
.slide-top .next {
    display: none;
    width: 35px;
    height: 70px;
    position: absolute;
    top: 100px;
    z-index: 10;
}

.slide-top .prev {
    left: 0;
}

.slide-top .next {
    right: 0;
    background-position: right top;
}

.left-slide {
    overflow: hidden;
    position: relative;
    border: 1px solid #E6E6E6;
    height: 142px;
    width: 748px;
}

.left-slide .bd ul {
    overflow: hidden;
    zoom: 1;
}

.left-slide .bd ul li {
    padding: 0 1px 0 2px;
    width: 245px;
    height: 142px;
    border-right: 1px solid #E6E6E6;
    text-align: center;
    float: left;
    display: _inline;
}

.left-slide .bd ul li.nom {
    border-right: 1px solid #fff;
}

.left-slide .bd ul li img {
    width: 245px;
    height: 140px;
}

.left-slide .prev,
.left-slide .next {
    display: none;
    width: 35px;
    height: 70px;
    position: absolute;
    top: 38px;
    z-index: 10;
}

.left-slide .prev {
    left: 0;
}

.left-slide .next {
    right: 0;
    background-position: right top;
}

.tgys {
    border: 1px solid #e6e6e6;
    margin-bottom: 10px;
}

.tgys p {
    height: 27px;
    background-position: 0 -81px;
    background-repeat: repeat-x;
}

.tgys p a {
    font: 400 14px/27px "\5FAE\8F6F\96C5\9ED1";
    display: inline-block;
    height: 27px;
    padding: 0 10px;
    text-decoration: none;
}

.tgys p a.act {
    background: #fafafa;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    color: #e4393c;
    margin-left: -1px;
}

.smasilde {
    width: 223px;
    height: 231px;
    overflow: hidden;
    position: relative;
}

.smasilde .hd {
    height: 10px;
    overflow: hidden;
    position: absolute;
    right: 80px;
    bottom: 10px;
    z-index: 1;
}

.smasilde .hd ul {
    overflow: hidden;
    zoom: 1;
    float: left;
}

.smasilde .hd ul li {
    float: left;
    margin-right: 5px;
    width: 10px;
    height: 10px;
    background: #939393;
    cursor: pointer;
    border-radius: 50%;
    color: #fff;
    font: 400 14px/22px "Arial";
}

.smasilde .hd ul li.on_hover {
    background: #e4393c;
    color: #fff;
}

.smasilde .bd {
    position: relative;
    height: 100%;
    z-index: 0;
}

.smasilde .bd img {
    width: 223px;
    height: 231px;
}

.xlqg {
    height: 307px;
}

.xlqg h3 {
    float: left;
    font-size: 18px;
    color: #333;
    margin-right: 143px;
}

.xlqg .xl-tit {
    float: left;
    height: 33px;
    line-height: 33px;
}

.xlqg .xl-tit ul li {
    float: left;
    font-size: 14px;
    height: 33px;
    line-height: 33px;
    padding: 0 35px;
    color: #333;
    cursor: pointer;
}

.xlqg .xl-tit ul li.act {
    color: #e4393c;
    border: 1px solid #E6E6E6;
    border-bottom: none;
    background: #fff;
    margin-bottom: 1px;
}

.xlqg .xl-main {
    border: 1px solid #E6E6E6;
    padding: 0 1px 0 2px;
}

.xlqg .xl-main li {
    width: 210px;
    float: left;
    padding: 13px 15px 8px;
}

.xlqg .xl-main .pro_img {
    width: 170px;
    height: 170px;
    overflow: hidden;
    padding: 0 0 10px 19px;
    display: block;
}

.xlqg .xl-main .pro_img img {
    width: 160px;
    height: 160px;
}

.xlqg .xl-main .li_box {
    position: relative;
}

.xlqg .xl-main .li_box em {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 19px;
    height: 27px;
    background-position: 0 -113px;
}

.xlqg .xl-main .li_box p {
    height: 27px;
}

.xlqg .xl-main .pro_ms {
    display: block;
    height: 40px;
    line-height: 21px;
    overflow: hidden;
    padding-bottom: 5px;
}

.xlqg .xl-main .pro_ms span {
    color: #E4393C;
}

.xlqg .xl-main .li_box p span {
    font-size: 14px;
    color: #e4393c;
}

.xlqg .xl-main .li_box p strong {
    font-size: 16px;
    color: #e4393c;
    font-weight: normal;
    margin-right: 8px;
}

.xlqg .xl-main .li_box p del {
    color: #888;
}

.j11308_hydro {
    height: 142px;
    border: solid 1px #E6E6E6;
    background: #fff;
}

.j11308_main {
    clear: both;
    width: 1200px;
    margin: 0 auto;
}

.j11308_main_floor {
    padding-top: 10px;
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

.j11308_main_floor h2 {
    border-bottom: 2px solid #1f8cdf;
}

.j11308_main_floor h2 span {
    background: #1f8cdf;
    display: block;
    float: left;
    width: 30px;
    height: 26px;
    color: #fff;
    font: 400 17px/26px "\5FAE\8F6F\96C5\9ED1";
    text-align: center;
    margin-right: 10px;
}

.j11308_main_floor h2 cite {
    float: left;
    font: 700 17px/26px "\5FAE\8F6F\96C5\9ED1";
    color: #333;
    margin-top: -2px;
}

.j11308_main_floor .zdwz {
    position: absolute;
    right: 0;
    top: 15px;
    color: #666;
    font-size: 12px;
    border: none;
}

.lazyDiv .red2 {
    margin-bottom: 20px;
}

.j11402_tabstitle {
    position: absolute;
    left: 182px;
    top: 9px;
}

.j11402_tabstitle a {
    display: block;
    width: 100px;
    text-align: center;
    float: left;
    font: 400 14px/24px "\5FAE\8F6F\96C5\9ED1";
    color: #666;
    position: relative;
    cursor: pointer;
}

.j11402_tabstitle a:hover {
    color: #666;
    text-decoration: none;
}

.j11402_tabstitle a.current {
    color: #333;
    font-weight: bold;
    background: #fff;
}

.j11402_tabstitle a.current span {
    width: 0;
    height: 0;
    overflow: hidden;
    border-width: 2px;
    border: 4px solid #fff;
    border-bottom: 4px solid #1f8cdf;
    position: absolute;
    right: 44px;
    bottom: -3px;
}

.j11402_tabscon {
    border: 1px solid #d4d4d4;
    border-top: none;
}

.tabsconleft {
    float: left;
    width: 202px;
    background: #f1edec;
    border-right: 1px solid #ebe4e2;
    height: 386px;
    overflow: hidden;
}

.tabsconleft dl {
    border-bottom: 1px solid #e5dfdd;
    padding-bottom: 6px;
    margin-top: 6px;
    margin: 6px 10px 10px 10px;
}

.tabsconleft dl.last {
    border-bottom: none;
}

.tabsconleft dt {
    color: #333;
    font: 400 14px "\5FAE\8F6F\96C5\9ED1";
    color: #333;
}

.tabsconleft dt a {
    text-decoration: none;
}

.tabsconleft dd a {
    color: #666;
    width: 90px;
    text-align: left;
    display: block;
    float: left;
    line-height: 26px;
    height: 26px;
    overflow: hidden;
}

.tabsconleft dd a:hover {
    color: #c40000;
    text-decoration: none;
}

.tabsconleft p a {
    width: 203px;
    text-align: center;
    line-height: 24px;
    color: #fff;
    display: block;
}

.tabsconleft p a:hover {
    text-decoration: none;
}

.tabsconleft p {
    height: 29px;
}

.blue .tabsconleft p {
    background: #1f8cdf;
}

.tabsconcenter {
    float: left;
    width: 794px;
    height: 386px;
}

.tabsconcentertop a {
    display: block;
    float: left;
}

.tabsconcentertop img {
    width: 214px;
    height: 200px;
}

.tabsconcentertop img.first {
    width: 366px;
    height: 200px;
}

.tabsconcenterbottom dl {
    float: left;
    width: 198px;
    margin-top: 10px;
}

.tabsconcenterbottom dt {
    width: 198px;
    text-align: center;
}

.tabsconcenterbottom dt img {
    width: 138px;
    height: 100px;
}

.tabsconcenterbottom dd {
    padding: 10px;
}

.tabsconcenterbottom dd cite {
    display: block;
    font: 700 14px "arial";
    color: #c40000;
    margin-bottom: 10px;
}

.tabsconcenterbottom dd a {
    color: #333;
    line-height: 14px;
}

.tabsconright {
    float: left;
    width: 200px;
    background: #f1edec;
    overflow: hidden;
    border-left: 1px solid #ebe4e2;
    *width: 199px;
    height: 386px;
}

.tabsconright ul {
    width: 210px;
}

.tabsconright li {
    float: left;
    width: 100px;
    border-bottom: 1px solid #ebe4e2;
    border-right: 1px solid #ebe4e2;
    height: 64px;
    *width: 99px;
    overflow: hidden;
}

.tabsconright li a {
    display: block;
    padding-top: 12px;
}

.tabsconright li img {
    width: 98px;
    height: 42px;
    *width: 98px;
}

.lightblue h2 span,
.lightblue .tabsconleft p {
    background: #28bac7;
}

.lightblue h2,
.lightblue .j11402_tabstitle a.current span {
    border-bottom-color: #28bac7;
}

.green h2 span,
.green .tabsconleft p {
    background: #28b885;
}

.green h2,
.green .j11402_tabstitle a.current span {
    border-bottom-color: #28b885;
}

.purple h2 span,
.purple .tabsconleft p {
    background: #697fe4;
}

.purple h2,
.purple .j11402_tabstitle a.current span {
    border-bottom-color: #697fe4;
}

.red h2 span,
.red .tabsconleft p {
    background: #e5527f;
}

.red h2,
.red .j11402_tabstitle a.current span {
    border-bottom-color: #e5527f;
}

.red1 h2 span,
.red1 .tabsconleft p {
    background: #df5ad9;
}

.red1 h2,
.red1 .j11402_tabstitle a.current span {
    border-bottom-color: #df5ad9;
}

.red2 h2 span,
.red2 .tabsconleft p {
    background: #e95f5f;
}

.red2 h2,
.red2 .j11402_tabstitle a.current span {
    border-bottom-color: #e95f5f;
}

.red3 h2 span,
.red3 .tabsconleft p {
    background: #b333cf;
}

.red3 h2,
.red3 .j11402_tabstitle a.current span {
    border-bottom-color: #b333cf;
}

.yellow h2 span,
.yellow .tabsconleft p {
    background: #e2a500;
}

.yellow h2,
.yellow .j11402_tabstitle a.current span {
    border-bottom-color: #e2a500;
}

.mb10 {
    margin-bottom: 10px;
}

.pd_navbar_bg {
    height: 33px;
    line-height: 33px;
    background: url(https://img.j1.com/images/pd_nav.jpg) repeat-x #fff2df;
}

.pd_navbar {
    width: 1000px;
    margin: 0 auto;
    font: 12px "\5FAE\8F6F\96C5\9ED1";
    height: 33px;
    line-height: 33px;
    color: #ffd5a5;
}

.pd_navbar a {
    color: #d60000;
    display: inline-block;
    padding: 0 10px;
    position: relative;
}

.pd_navbar a .pd_hot {
    position: absolute;
    width: 26px;
    height: 18px;
    right: 0;
    top: -8px;
}

.pd_main {
    width: 1000px;
    margin-top: 10px;
}

.pd_main_left {
    width: 203px;
    margin: 0;
    padding: 0;
    height: 543px;
    border: 1px solid #dfdfdf;
    float: left;
    overflow: hidden;
}

.pd_main_right {
    width: 785px;
    height: 100%;
    float: left;
    padding-left: 10px;
}

.pd_main_left_title {
    width: 188px;
    padding-left: 15px;
    height: 40px;
    background: url(https://img.j1.com/images/images_index/images_pd/pd_title.jpg) repeat-x;
    border-bottom: 1px solid #e3e3e3;
    color: #a00000;
    font: 18px "微软雅黑";
    font-weight: bold;
    line-height: 40px;
}

.pd_main_left ul {
    width: 173px;
    padding: 0 0 0 10px;
}

.pd_main_left ul li {
    width: 100%;
    font: 14px "\5FAE\8F6F\96C5\9ED1";
    list-style: none;
    border-bottom: 1px solid #eaeaea;
    padding-top: 10px;
    padding-bottom: 5px;
    overflow: hidden;
}

.pd_main_left ul li a {
    color: #333;
    font-weight: bold;
}

.pd_main_left ul li ul {
    margin: 0;
    padding: 0;
    width: 100%;
}

.pd_main_left ul li ul li {
    list-style: none;
    width: 75px;
    float: left;
    margin-right: 10px;
    border: none;
    height: 26px;
    line-height: 26px;
    padding: 0;
}

.pd_main_left ul li ul li a {
    color: #666;
    font-weight: normal;
}

.pd_main_left_gg {
    width: 185px;
    margin: 0 auto;
    padding-top: 5px;
}

.pd_main_right_banner {
    width: 785px;
    height: 280px;
    overflow: hidden;
}

.wrapper2 {
    width: 785px;
}

#focus2 {
    width: 785px;
    height: 280px;
    overflow: hidden;
    position: relative;
}

#focus2 ul {
    height: 280px;
    position: absolute;
}

#focus2 ul li {
    float: left;
    width: 785px;
    height: 280px;
    overflow: hidden;
    position: relative;
    background: #000;
}

#focus2 ul li div {
    position: absolute;
    overflow: hidden;
}

#focus2 .btnBg {
    position: absolute;
    width: 785px;
    height: 30px;
    left: 0;
    bottom: 0;
    background: #000;
}

#focus2 .btn {
    position: absolute;
    width: 775px;
    height: 24px;
    left: 0;
    bottom: 0;
    padding-left: 680px;
}

.j1wares2 {
    width: 785px;
    float: left;
    margin-top: 30px;
    overflow: hidden;
    font: 12px "\5FAE\8F6F\96C5\9ED1";
    color: #777;
}

.j1wares2-bottom {
    width: 785px;
    height: 460px;
    margin: 0;
}

#focus2 .btn SPAN {
    TEXT-ALIGN: center;
    LINE-HEIGHT: 20px;
    WIDTH: 21px;
    DISPLAY: inline-block;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    BACKGROUND: #686868;
    HEIGHT: 20px;
    COLOR: #fff;
    FONT-SIZE: 12px;
    CURSOR: pointer;
    FONT-WEIGHT: bold;
    MARGIN-RIGHT: 10px;
    _display: inline;
    _zoom: 1;
}

#focus2 .btn SPAN.on {
    BACKGROUND: #cc0001;
    COLOR: #fcc;
}

.pd_main_right_zd {
    margin: 0;
    padding: 0;
}

.pd_main_right_zd_nav {
    height: 30px;
    padding-top: 5px;
    border-bottom: 1px solid #dfdfdf;
}

.pd_main_right_zd_product {
    width: 100%;
    height: 229px;
    margin: 0;
    padding: 0;
}

.pd_main_right_zd_nav ul {
    width: 700px;
    height: 100%;
}

.pd_main_right_zd_nav ul li {
    height: 100%;
    float: left;
    line-height: 30px;
    width: 80px;
}

.pd_main_right_zd_nav ul li a {
    display: block;
    width: 80px;
    text-align: center;
    height: 30px;
    cursor: pointer;
    line-height: 30px;
    font-size: 15px;
    color: #646567;
}

.pd_main_right_zd_nav ul li a.on {
    border-bottom: none;
    background: #59473b;
    color: #fff;
    text-decoration: none;
}

.pd_main_right_zd_nav ul li a.other {
    border-bottom: 0;
}

.pd_main_right_zd_nav_more {
    width: 70px;
    height: 30px;
    line-height: 30px;
    float: right;
}

.pd_main_right_zd_nav_more {
    color: #58473d;
}

.pd_main_right_zd_product_nr {
    width: 785px;
    margin: 0;
    padding: 0;
}

.pd_main_right_zd_product_cp1 {
    width: 162px;
    padding: 0;
    margin: 10px 17px 0;
    display: inline;
    float: left;
}

.pd_main_right_zd_product_img {
    width: 160px;
    height: 160px;
    border: 1px solid #fff;
}

.pd_main_right_zd_product_name {
    width: 100%;
    height: 28px;
    line-height: 14px;
    overflow: hidden;
    margin-top: 5px;
    font-size: 12px;
}

.pd_main_right_zd_product_price {
    width: 100%;
    color: #cc0001;
    font: 14px Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 3px;
}

.pd_Modular1 {
    width: 100%;
    clear: both;
    height: 330px;
    padding-top: 20px;
}

.pd_Mdularl_title {
    width: 100%;
    height: 27px;
    margin: 0;
    padding: 0;
}

.pd_Mdularl_title_1 {
    font: 20px "微软雅黑";
    color: #333;
    font-weight: bold;
    width: 83px;
    float: left;
    border-bottom: 3px solid #b00000;
    height: 27px;
    line-height: 27px;
}

.pd_Mdularl_title_2 {
    width: 917px;
    height: 27px;
    line-height: 27px;
    border-bottom: 3px solid #aaa;
    float: right;
    text-align: right;
    color: #ddd;
}

.pd_Mdularl_title_2 a {
    margin: 0 8px;
    color: #676767;
}

.pd_Mdularl_zynr {
    width: 100%;
    height: 275px;
    border-bottom: 1px solid #e6e6e6;
    padding: 10px 0;
}

.pd_Mdularl_zynr_1 {
    width: 204px;
    float: left;
}

.pd_Mdularl_zynr_1_img {
    padding-top: 10px;
    height: 100px;
    border-bottom: dotted 1px #e0e0e0;
}

.pd_Mdularl_zynr_1_img img {
    float: left;
    margin: 0 5px 0 0;
    border: solid 1px #e0e0e0;
}

.pd_Mdularl_zynr_1_hot1 {
    padding-top: 10px;
}

.pd_Mdularl_zynr_1_sp {
    display: inline-block;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    margin-right: 8px;
    background: #c00;
    color: #fff;
}

.pd_Mdularl_zynr_1_sp1 {
    display: inline-block;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    margin-right: 8px;
    background: #999;
    color: #fff;
}

.pd_Mdularl_zynr_1_hot1 li {
    height: 24px;
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: dotted 1px #e0e0e0;
}

.pd_Mdularl_zynr_1_text {
    font-weight: bold;
    font-size: 14px;
    height: 28px;
}

.pd_Mdularl_zynr_2 {
    width: 165px;
    float: left;
    height: 350px;
}

.pd_Mdularl_zynr_2_zd1 {
    width: 130px;
    height: 175px;
    margin: 0 auto;
}

.pd_Mdularl_zynr_2_img {
    width: 130px;
    height: 130px;
    margin-top: 3px;
}

.pd_Mdularl_zynr_2_name {
    width: 100%;
    height: 15px;
    line-height: 15px;
    overflow: hidden;
}

.pd_Mdularl_zynr_3 {
    width: 796px;
    float: left;
}

.pd_Mdularl_zynr_3_cp {
    width: 189px;
    height: 275px;
    padding-left: 10px;
    float: left;
}

.pd_Mdularl_zynr_3_img {
    height: 224px;
}

.pd_Mdularl_zynr_3_name {
    height: 15px;
    line-height: 15px;
    overflow: hidden;
    font-size: 13px;
    text-align: center;
    padding-top: 10px;
}

.pd_Mdularl_zynr_3_price {
    padding-top: 3px;
    color: #8f8f8f;
    text-align: center;
}

.pd_main_right_zd_product_price2 {
    color: #cc0001;
    font: 17px Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.pd_style1 {
    text-decoration: line-through;
    color: #adadad;
    font-weight: normal;
}

.pd_Mdularl_zynr_4 {
    width: 1000px;
    height: 30px;
    margin-top: 25px;
    display: table;
    overflow: hidden;
}

.pd_Mdularl_zynr_4 ul {
    margin: 0;
    padding: 0;
    height: 30px;
    float: left;
    margin-right: 8px;
    display: table-row-group;
}

.pd_Mdularl_zynr_4 ul li {
    height: 30px;
    line-height: 30px;
    float: left;
    color: #000;
    list-style: none;
    font-weight: bold;
    font-size: 12px;
    display: table-cell;
    padding: 0 5px;
    margin-right: 10px;
}

.pd_Mdularl_zynr_4 ul li a {
    font-weight: normal;
    color: #fff;
}

.pd_fz li {
    background: #a6acae;
}

.pd_fl li {
    background: #818688;
}

.pd_fz li.pd_fz_gn,
.pd_fl li.pd_fl_dh {
    margin-right: 0;
    background: none;
}

.text_font01 {
    font-weight: bold;
    color: #333;
    height: 20px;
}

.pd_chanp {
    height: 65px;
    overflow: hidden;
    line-height: 21px;
}

#gg_img {
    color: #333;
    width: 140px;
    background: #fff;
    font: 14px/1.5em "Arial", Helvetica, sans-serif;
    position: fixed;
    _position: absolute;
    left: 0;
    top: 200px;
    z-index: -0;
    overflow: hidden;
}

.daohang_left {
    text-align: center;
    background: #B00000;
    color: #ff0;
    height: 30px;
    line-height: 30px;
    border-bottom: solid 1px #7f1746;
}

.daohang_right {
    float: right;
    display: inline-block;
    padding-right: 10px;
    line-height: 30px;
}

#daohang {
    overflow: hidden;
    background: #B00000;
}

#daohang ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#daohang ul li {
    height: 30px;
    font-size: 12px;
    border-bottom: solid 1px #8D0000;
}

#daohang ul li a {
    display: block;
    height: 30px;
    padding-left: 5px;
    line-height: 30px;
    color: #fff;
    text-decoration: none;
}

#daohang ul li a:hover {
    color: #fff;
    background: #8D0000;
}

.daohang_left1 {
    text-align: center;
    background: #B00000;
    color: #fff;
    padding: 5px 0;
    line-height: 20px;
    font-size: 18px;
}

.daohang_left1_1 {
    font-weight: bold;
    font-size: 14px;
}

.left_photo {
    border: solid 4px #4099D1;
}

a {
    text-decoration: none;
}

a:hover {
    color: #c40000;
    text-decoration: underline;
}

.couponsy a {
    color: #fff;
}

body {
    font-family: "\5FAE\8F6F\96C5\9ED1";
    color: #333;
    font-size: 12px;
}

#sidebar-x {
    Z-INDEX: 10000;
    border: 2px solid #c30;
    border-top: none;
    WIDTH: 201px;
    BACKGROUND: #fff;
    FLOAT: left;
    FONT-SIZE: 14px;
    height: 422px;
}

#sidebar-x-1 {
    z-index: 10000;
    border: 2px solid #c30;
    border-top: none;
    width: 201px;
    float: left;
    font-size: 14px;
    height: 422px;
    background: #fff;
}

.sidelist-title-x {
    line-height: 24px;
    margin: 10px auto;
    padding-left: 8px;
    width: 183px;
    display: block;
    background: #b00000;
    height: 24px;
    color: #fff;
}

.sidelist-title-x a {
    float: right;
    color: #fff;
    margin-right: 10px;
}

.sidelist-title-x a:hover {
    color: #ff9400;
    text-decoration: none;
}

#sidebar h3 {
    height: 21px;
}

.nav_zk {
    width: 169px;
    float: left;
}

.i-list-x td {
    vertical-align: top;
}

.sidelist-x {
    z-index: 3;
    position: relative;
}

.sidelist_none {
    border: none;
}

.sidelist-strong-x {
    color: #474747;
}

.sidelist-x-li .nav_zk a {
    font-size: 14px;
}

.sidelist-strong-x span {
    color: #9d9d9d;
    font-weight: normal;
    font-size: 10px;
    padding-left: 5px;
}

.sidelist-x-li .slid-height,
.sidelist-x-li .slid-height02 {
    background-position: -50px -305px;
    z-index: 1000;
    position: relative;
    line-height: 26px;
    font-size: 12px;
    font-weight: 400;
    padding: 3px 0 3px 20px;
    cursor: pointer;
    color: #333;
}

.sidelist-x-li .slid-height s,
.sidelist-x-li .slid-height02 s {
    background-position: -60px -336px;
    display: block;
    width: 10px;
    height: 20px;
    float: left;
}

.sidelist-x-li .slid-height .sidelist-strong-x,
.sidelist-x-li .slid-height02 .sidelist-strong-x {
    font-weight: bold;
    color: #333;
}

.sidelist-x-li .slid-height {
    height: 26px;
}

.sidelist-x-li .slid-height02 {
    height: 27px;
    line-height: 27px;
}

.sidelist-x-li .slid-height a,
.sidelist-x-li .slid-height02 a {
    width: auto;
    height: auto;
    color: #333;
    text-decoration: none;
}

.sidelist-x-li .slid-height a:hover,
.sidelist-x-li .slid-height02 a:hover {
    color: #c40000;
    text-decoration: underline;
    font-weight: 400;
}

.i-list-x {
    z-index: 910;
    border: #c40000 2px solid;
    position: absolute;
    width: 794px;
    display: none;
    background: #fff;
    float: left;
    top: -1px;
    left: 201px;
    min-height: 421px;
}

.i-list-left-x {
    padding-bottom: 0;
    padding-left: 10px;
    width: 560px;
    padding-right: 10px;
    background: #fff;
    float: left;
    padding-top: 0;
}

.i-border-right-x {
    background: #fff;
    border-right: #f23201 1px solid;
}

.i-list-con-x {
    width: 580px;
    padding: 4px 0;
    font-weight: 400;
}

.i-list-con-x span {
    width: 68px;
    float: left;
    height: 22px;
    color: #f23201;
    text-align: right;
    font: 700 12px/22px "\5FAE\8F6F\96C5\9ED1";
    padding: 0 4px 0 0;
    display: block;
}

.i-list-con-x span a {
    color: #333;
    text-decoration: none;
}

.i-list-con-x span a:hover {
    color: #c40000;
    text-decoration: underline;
}

.i-list-con-x ul {
    padding-left: 2px;
    width: 500px;
    padding-right: 2px;
    float: left;
}

.i-list-con-x ul li {
    line-height: 14px;
    list-style-type: none;
    margin: 4px 0 5px 0;
    float: left;
    font-size: 12px;
    word-break: keep-all;
    list-style-image: none;
    heignt: 16px;
}

.i-list-con-x ul li a {
    border-left: #ccc 1px solid;
    padding: 0 8px;
    display: block;
    color: #333;
    text-decoration: none;
}

.i-list-con-x ul li a:hover {
    padding: 0 8px;
    color: #c40000;
    text-decoration: underline;
}

.i-list-right-x {
    width: 163px;
    float: left;
    padding: 0;
}

.i-list-right-x h2 {
    line-height: 23px;
    height: 23px;
    color: #f23201;
    font-size: 16px;
}

.i-list-right-x h2 a {
    color: #0856a1;
}

.i-list-right-x dd a {
    height: 24px;
    overflow: hidden;
}

.sidelist-x-li .sidelisthover {
    z-index: 920px;
    background: url("https://img.j1.com/images/images1308/ico/slidelf.png") no-repeat -50px -305px #f6f6f6;
    width: 183px;
}

.sidelist-x-li .sidelisthover {
    overflow: hidden;
    border: 1px solid #c40000;
    border-left: none;
    border-right: none;
    z-index: 920;
    height: 25px;
}

.sidelist-x-li .sidelisthover s {
    display: none;
}

.i-right-con-x {
    padding: 10px 0 0 5px;
}

.i-right-con-x h2 {
    font: bold 16px "Arial";
    margin-bottom: 5px;
    color: #f23201;
}

.i-right-con-x p {
    width: 150px;
    margin-bottom: 10px;
    height: 45px;
}

.i-right-con-x p img {
    border-bottom: #fff 1px solid;
    border-left: #fff 1px solid;
    border-top: #fff 1px solid;
    border-right: #fff 1px solid;
}

.i-right-con-x p img:hover {
    border-bottom: #ffb8ad 1px solid;
    border-left: #ffb8ad 1px solid;
    border-top: #ffb8ad 1px solid;
    border-right: #ffb8ad 1px solid;
}

.sidelist-title {
    line-height: 23px;
    margin: 10px auto;
    padding-left: 8px;
    width: 183px;
    display: block;
    background: #b00000;
    height: 23px;
    color: #fff;
}

.sidelist-title a {
    float: right;
    color: #fff;
    margin-right: 10px;
}

.sidelist-title a:hover {
    color: #ff9400;
    text-decoration: none;
}

.icon_nav_total {
    background-image: url(icon_nav_total2.gif);
    background-repeat: no-repeat;
    height: 20px;
}

.i-list-x-l {
    float: Left;
    margin-left: 10px;
    width: 570px;
    margin: 0 2px 0 2px;
    padding-right: 10px;
    border-right: 1px solid #ddd;
    margin-right: 15px;
    min-height: 410px;
}

.i-list-right-x dl {
    margin-top: 4px;
}

.i-list-right-x cite {
    font: 700 12px "\5FAE\8F6F\96C5\9ED1";
    color: #333;
    margin-bottom: 10px;
}

.i-list-right-x dd {
    width: 180px;
}

.i-list-right-x dd a {
    float: left;
    margin-right: 10px;
    font: 400 12px/24px "\5FAE\8F6F\96C5\9ED1";
    width: 48px;
}

#asyncbox_cover {
    display: none;
}

.addcart_title {
    color: #fff;
    margin-left: 4px;
    font: 700 14px/30px "microsoft yahei";
}

.addcart_close {
    margin: 8px 4px 0 0;
}

.j11308_top_menu_link {
    color: #333;
}

.couponsY a,
.coupons-01 a {
    color: #fff;
}

.mt10 {
    margin-top: 10px;
}

.mb10 {
    margin-bottom: 10px;
}

#xqad985 {
    width: 985px;
    overflow: hidden;
}

.fourads {
    width: 1000px;
}

.fourads li {
    float: left;
    width: 240px;
    margin-right: 10px;
    list-style-type: none;
    line-height: 30px;
}

.mr6 {
    margin-right: 4px;
}

#xqad985 a.picad985 {
    display: block;
}

#xqad985 a.picad985:hover {
    filter: alpha(opacity=90);
    -moz-opacity: .9;
    -khtml-opacity: .9;
    opacity: .9;
}

.listads {
    width: 1000px;
}

.listads li {
    float: left;
    width: 321px;
    margin-right: 10px;
}

.sitemap_main {
    width: 1200px;
    margin: 0 auto;
}

.sitemap_chaneelwarp {
    border: 1px solid #ddd;
    padding: 10px;
}

.sitemap_chaneelwarp dt {
    font: 700 19px/20px "\5FAE\8F6F\96C5\9ED1";
}

.sitemap_chaneelwarp dt span {
    background: #c40000;
    width: 5px;
    height: 19px;
    display: block;
    float: left;
    margin-right: 8px;
}

.sitemap_chaneelwarp dd a {
    border: 1px solid #ddd;
    width: 100px;
    text-align: center;
    display: block;
    float: left;
    height: 40px;
    margin-right: 10px;
    margin-top: 20px;
    font: 700 14px/40px "\5FAE\8F6F\96C5\9ED1";
    color: #666;
}

.sitemap_sortwrap {
    border: 1px solid #ddd;
    border-top: 2px solid #c40000;
    margin-top: 20px;
    padding: 10px;
    margin-bottom: 20px;
}

.sitemap_sortwrap h2 {
    font: 700 19px/20px "\5FAE\8F6F\96C5\9ED1";
    margin-bottom: 10px;
}

.sitemap_sortwrap h2 span {
    background: #c40000;
    width: 5px;
    height: 19px;
    display: block;
    float: left;
    margin-right: 8px;
}

.sitemap_sortwrap_table {
    width: 1178px;
    border-top: 1px solid #e2e2e2;
    table-layout: fixed;
}

.sitemap_sortwrap_table td {
    line-height: 28px;
    margin: 10px auto;
}

.sitemap_sortwrap_table td.left {
    width: 8%;
    font: 700 14px "\5FAE\8F6F\96C5\9ED1";
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
}

.sitemap_sortwrap_table td.middle {
    width: 10%;
    border-top: 1px solid #e2e2e2;
    font: 700 12px/28px "\5FAE\8F6F\96C5\9ED1";
    color: #333;
    padding: 10px;
}

.sitemap_sortwrap_table td.right {
    width: 82%;
    border-top: 1px solid #e2e2e2;
    line-height: 28px;
    padding: 10px;
}

.sitemap_sortwrap_table td.right a {
    margin-right: 21px;
}

.sitemap_sortwrap_table td.right span {
    margin-right: 10px;
}

.sitemap_sortwrap_table td span {
    color: #ccc;
}

.sitemap_sortwrap_table tr.odd {
    background: #fcfcfc;
}

.sitemap_sortwrap_table tr.even {
    background: #fff;
}

.sitemap_sortwrap_table tr.odd .left,
.sitemap_sortwrap_table tr.even .left {
    background: #fff;
}

.bt h2 {
    font: 700 19px/20px "\5FAE\8F6F\96C5\9ED1";
    border: 1px solid #ddd;
    border-bottom: none;
    top: 1;
}

.bt h2 a {
    font: 700 19px/40px "\5FAE\8F6F\96C5\9ED1";
}

.bt h2 a:hover {
    text-decoration: none;
}

.bt h2.act {
    border-top: 2px solid #c40000;
    background: #fff;
    position: relative;
    top: 1px;
}

.bt .cen {
    text-align: center;
    top: 1px;
    background: #f1f1f1;
}

.bt h2 span {
    background: #c40000;
    width: 5px;
    height: 19px;
    display: block;
    float: left;
    margin: 11px 8px 0 8px;
}

.bt h2 {
    padding: 0 10px;
    width: 155px;
    float: left;
    height: 40px;
    line-height: 40px;
    margin: 0 10px 0 0;
    position: relative;
}

.qbfl {
    border: 1px solid #DDD;
    margin-top: 0;
    padding-top: 0;
}

.sitemap_sortwrap .no {
    border: none;
}

.sitemap_sortwrap_table tr td.no {
    border: none;
}

.mt10 {
    margin-top: 10px;
}

.friendsbox {
    width: 1200px;
    padding: 0 20px;
}

.friendsbox a {
    float: left;
    display: block;
    width: 157px;
    height: 20px;
    overflow: hidden;
    margin: 0 10px 15px 0;
}

.sitemap_main .line {
    border-top: 1px solid #ddd;
    margin: 10px 0;
}

.sitemap_main p {
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

.sitemap_main p em {
    font-family: arial;
}

.errortop {
    width: 100%;
    height: 104px;
    overflow: hidden;
    border-bottom: 1px solid #c6c6c6;
    box-shadow: 0 0 20px 0 #c6c6c6;
    background: #fefdfd;
    padding-bottom: 10px;
}

.errorwrap {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.erroradlist {
    width: 1220px;
}

.erroradlist a {
    float: left;
    background: #fff;
    width: 129px;
    height: 48px;
    display: block;
    margin: 0 6px 6px 0;
}

.erroradlist a img {
    width: 129px;
    height: 48px;
}

.errorcenter {
    background: #f0f0f0;
    width: 100%;
    padding-bottom: 60px;
    padding-top: 40px;
}

.errorcenterL {
    background: url(https://img.j1.com/images/images1308/error0318.png) no-repeat;
    padding-left: 210px;
    width: 350px;
    float: left;
    height: 153px;
    margin-top: 40px;
    padding-top: 26px;
}

.errorcenterL h2 {
    font: 700 14px "\5FAE\8F6F\96C5\9ED1";
    margin-bottom: 10px;
}

.errorcenterL p {
    line-height: 20px;
    margin-bottom: 6px;
}

.errorcenterL p em {
    font: 700 18px "arial";
    color: #c40000;
}

.errorcenterL p a {
    color: #085c9b;
    margin-right: 10px;
}

.erroecenterR {
    float: right;
    width: 453px;
    height: 200px;
    position: relative;
    margin-top: 40px;
}

#errorslide {
    position: relative;
    width: 390px;
    height: 200px;
}

#errorslide a {
    display: block;
    width: 390px;
    height: 200px;
    position: absolute;
}

#errorslide a img {
    width: 390px;
    height: 200px;
}

.erroecenterR .switchable-triggers {
    right: 70px;
    bottom: 0;
    right: 0;
    z-index: 100;
    position: absolute;
    font-size: 0;
}

.erroecenterR .switchable-triggers li {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin-right: 6px;
    cursor: pointer;
    float: left;
    background: #c9c9c9;
}

.erroecenterR .switchable-triggers li.current {
    background: #c40000;
}

.erroecenterR #prev,
.erroecenterR #next {
    background: url(https://img.j1.com/images/images1308/error0318.png) no-repeat 0 -165px;
    font-size: 0;
    width: 100px;
    height: 93px;
    display: block;
    position: absolute;
    left: -60px;
    top: -120px;
}

.erroecenterR #next {
    background-position: 0 -237px;
    left: 391px;
    top: -120px;
}

.erroecenterR .button {
    position: absolute;
    bottom: 10px;
    width: 700px;
    z-index: 100;
}

.errorwrap .bottomlist {
    border: 1px solid #d0d0d0;
    width: 1198px;
    margin-top: 70px;
    overflow: hidden;
    background: #fff;
}

.errorwrap .bottomlist dl {
    width: 239px;
    text-align: center;
    border-right: 1px solid #d0d0d0;
    float: left;
    padding-bottom: 10px;
}

.errorwrap .bottomlist dt img {
    width: 180px;
    height: 180px;
    margin: 10px 0 10px 0;
}

.errorwrap .bottomlist dd {
    width: 180px;
    margin: 0 auto;
}

.errorwrap .bottomlist dd cite {
    font: 400 22px "arial";
    color: #c40000;
}

.errorwrap .bottomlist dd cite s {
    text-decoration: line-through;
    color: #333;
    font-size: 12px;
    margin-left: 8px;
}

.errorwrap .bottomlist dd cite span {
    font: 400 14px "verdana";
}

.errorwrap .bottomlist dd a {
    display: block;
    width: 180px;
    height: 60px;
    line-height: 20px;
    font: 400 14px "\5FAE\8F6F\96C5\9ED1";
    overflow: hidden;
    text-align: left;
    overflow: hidden;
}

.errorwrap .bottomlist dd a b {
    font-weight: 400;
    color: #c40000;
}

.errorwrap .bottomlist .bottomlistcon {
    width: 1210px;
}